.container{
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;

    .header{
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../images/about-min.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0;
        min-height: 70%;
        padding: 10% 0;
        margin-bottom: 1rem;


        .heading{
            font-size: 5rem;
            color: white;
            font-style: italic;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

    }

    .about{
        margin: 0 auto;
        padding-bottom: 2rem;
    }



}