.container{
    margin: 0 auto;
    text-align: center;

    .header{
        background-image: url("../images/jumbo-min.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0;
        min-height: 70%;
        padding: 10% 0;
        margin-bottom: 1rem;


        .heading{
            font-size: 5rem;
            color: white;
            font-style: italic;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

    }
}
