// container
.container{
    // Center container
    margin: 0 auto;

    // set up flex direction / will make sticky footer
    display: flex;
    flex-direction: column;
    // screen height
    min-height: 100vh;

    overflow: hidden;
}

// content
.content{
    flex-grow: 1;
}